@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  background-color: #0d1117;
  color: #ffff;
  position: relative;
  font-family: "Poppins", sans-serif;
}
.header{
  background-color: #12181f;
  border: 1px solid #353b44;
  border-radius: 10px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}
.background {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 16px;
  border: 1px solid #353b44;
  background:#12181f;
  mix-blend-mode: luminosity;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(15px);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.menu__icon {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.menu__icon span {
  width: 100%;
  height: 0.125rem;
  border-radius: 0.125rem;
  background-color: rgb(0, 122, 255);
  box-shadow: 0 .5px 2px 0 hsla(0, 0%, 0%, .2);
  transition: transform .4s, background-color .4s, opacity .4s;
}
.menu__icon.true span:nth-child(1) {
  background-color: rgb(255, 59, 48);
  transform: translateY(11px) rotate(-45deg);
}
.menu__icon.true span:nth-child(2) {
  transform: translate(-50%);
  opacity: 0;
}
.menu__icon.true span:nth-child(3) {
  background-color: rgb(255, 59, 48);
  transform: translateY(-11px) rotate(45deg);
}
.navs{
  width: 200px;
  height: 120px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.shade{
  width: 54%;
  height:70px;
  border-top-left-radius: 100px;
  border-top-right-radius:100px ;
  position: fixed;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #12181f;
  box-shadow: -10px -10px 15px #12181f,
             10px 10px 15px #12181f;                     ;
}
.all, .workout,.plan{
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition-property: left,right,bottom;
  transition-duration: .3s;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #353b44;
  border-radius: 16px;
  background-color: #12181f;
}
.all:hover,.workout:hover,.plan:hover{
  background-color: #703fc7;
  border: 1px solid #ffff;
}
.workout{
  transition-delay: 0.1s;
}
.plan{
  transition-delay: .2s;
}
ion-icon{
  font-size: 26px;
  color: rgb(194, 194, 195);
}
.all.true{
  left:20%;
}
.workout.true{
  bottom: 60px;
}
.plan.true{
  left: 80%;
}
.all-tab{
  height: max-content;
  margin-top: 3px;
}
.muscles>div{
  display: flex;
  align-items: center;
  background-color: #12181f;
  border: 1px solid #353b44;
  border-radius: 10px;
}
.m14,.m15{
  border:1px solid transparent;
}
img{
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.border{
  width: 3px;
  background: linear-gradient(180deg, #703fc7, #3fb950, #33b3ae, #f778ba);
}
.muscles>div{
  margin-top: 10px;
  margin-bottom: 10px;
}